<h1>商品の状態</h1>
<%= link_to "商品の状態", new_status_path, class:"post" %>

<% @statues.each do |article| %>
  <div class="status">
    <div class="status-genre">
      <%= status.genre.name %>
    </div>
    <div class="status-title">
      <%= status.title %>
    </div>
    <div class="status-text">
      <%= status.text %>
    </div>
  </div>
<% end %>